body {
    background-color: rgb(240, 199, 17);
    position: relative;
    
}


h1, h2, .icons {
    font-family: monospace;
    text-transform: uppercase;
    justify-content: right;
    margin-right: 7%;
    display: flex;
    
    
}


h1 {
    position: relative;
    font-size: 900%;
    color: rgb(253, 252, 252);
    
}


h2 {
    font-size: 500%;  
    color:rgb(0, 0, 0);
 
}


.linetitle {
    position: static;
    transform: translate (2000, 500, 0, 0)
    width: 100%;
    height: 18px;
    background-color: #000000;
    
    
}

.icons {
    
    content: right;
    
    
}

img {
    padding-right: 54px;
    width: 84px;
    height: 84px;

}

img:hover {
    width: 108px;
    height: 108px;
    align-self: center;
    color: antiquewhite;
}