/*  STYLE  */

body {
    background-color: rgb(240, 199, 17);
    display: flex;
    
}
.container {
    display: flex;
    justify-content: flex-end;
    right: 5vw;
    height: 80vh;
    width: 60vw;
}

.name, .line, .description, .icons {
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-self: flex-end;
    width: 100%;
}

/*
hr {
    position: relative;
    height: 10px;
    width: 100vw;
    color: black;
}
*/



.icons {
    align-content: right;
}

img {
    padding-left: 2%;
    max-width: 80%;
    max-height: 80%;
}

img:hover {
    max-width: 85%;
    max-height: 85%;
    align-self: center;
    color: antiquewhite;
}

/* FONTS & TEXTS */

h1, h2 {
    font-family: monospace;
    text-transform: uppercase;
    text-align: right; 
    white-space: nowrap;
}

h1 {
    font-size: 10vw;
    color: rgb(253, 252, 252); 
}

h2 {
    font-size: 6vw;  
    color:rgb(0, 0, 0);
}



/* RESPONSIVE POSITIONNING (flex) */

@media screen and (max-width:500px) {
    .container {
        width: 100vw;
    }

}

